# Everything
/*

!/.github
!/src

!/**/*.md
!/**/CMakeLists.txt

!/.cz.toml
!/.gitattributes
!/.gitignore
!/.editorconfig
!/.clang-format
!/CHANGELOG.md
!/CMakeLists.txt
!/CMakePresets.json
!/LICENSE
!/README.md
!/vcpkg.json
